* {
  list-style: none !important;
  text-decoration: none !important;
  outline: none !important;
}

.navbar {
  background: #edd2d2;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.listItem {
  display: flex;
  gap: 1rem;
}

.listItem a {
  color: black;
  cursor: pointer;
}


/* 
 */
.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  margin: 1rem;
  padding: 1rem 3rem;
  background: #000;
  color: white;
  border-radius: 1rem;
}

hr {
  height: .5rem;
  background: green;
  width: 100%;
}

.useState2 {
  /* background: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  text-align: justify;
  padding: 1rem;
}